@model EmprestimoViewModel

<div id="mensagem">

</div>

@using (Ajax.BeginForm("Adicionar", "Emprestimo", new AjaxOptions
{
    OnBegin = "Carregando",
    OnComplete = "Concluido",
    UpdateTargetId = "mensagem",
    HttpMethod = "POST",
    OnSuccess = "Sucesso",
    OnFailure = "Error"
}, new { @id = "formAdicionar" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Adicionar empréstimo</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.IDMapa, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.IDMapa, (SelectList)ViewBag.SelectMapas, "Selecione...", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IDMapa, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.DataEmprestimo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(x => x.DataEmprestimo, new { @class = "form-control datepicker" })
                @Html.ValidationMessageFor(model => model.DataEmprestimo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Publicador, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Publicador, new SelectList(new List<object>() { new { Nome = "Bruno", Descricao = "Publicador" } }, "Nome", "Descricao", "Selecione..."), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Publicador, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="limpar" name="limpar" type="reset" value="Limpar" class="btn btn-danger" />
                <input type="submit" value="Salvar" class="btn btn-success" />
            </div>
        </div>
    </div>
}
<script>
    addCalendarioMascara(".datepicker",null);
    function Sucesso(resposta) {
        
    }
    function Error(resposta) {

    }
    function Carregando() {
        $("#myModal").modal('show');
    }
    function Concluido() {
        $("#myModal").modal('hide');
    }
</script>
