@model EmprestimoViewModel

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Adicionar empréstimo</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.IDMapa, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.IDMapa, (SelectList)TempData["SelectMapas"], new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IDMapa, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Publicador, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Publicador,new SelectList(new List<object>() { new { Nome="Bruno", Descricao = "Publicador"} },"Nome","Descricao","Selecione..."), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Publicador, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="limpar" name="limpar" type="reset" value="Limpar" class="btn btn-danger" />
                <input type="button" value="Salvar" class="btn btn-success" />
            </div>
        </div>
    </div>
}
