@model EmprestimoViewModel

@using (Ajax.BeginForm((string)TempData["Action"], "Emprestimo", new AjaxOptions
{
    OnBegin = "Carregando",
    OnComplete = "Concluido",
    UpdateTargetId = "mensagem",
    HttpMethod = "POST",
    OnSuccess = "Sucesso",
    OnFailure = "Error"
}, new { @id = "formAdicionar" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div id="selectMapas">

        </div>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.DataEmprestimo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(x => x.DataEmprestimo, new { @class = "form-control datepicker" })
                @Html.ValidationMessageFor(model => model.DataEmprestimo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Publicador, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Publicador, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Publicador, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="limpar" name="limpar" type="reset" value="Limpar" class="btn btn-danger" />
                <input type="button" id="salvar" value="Salvar" class="btn btn-success" />
            </div>
        </div>
    </div>
}
<script>
    addCalendarioMascara(".datepicker", null);
    $('#salvar').click(function () {
        var form = $('#formAdicionar');

        if (!($('#IDMapa').val())) {
            EmprestimosAjax.Mensagem("Por favor selecione o mapa para empréstimo!");
            return;
        }

        if (!($('#DataEmprestimo').val())) {
            EmprestimosAjax.Mensagem("Por favor selecione a data de empréstimo!");
            return;
        }
        if (!($('#Publicador').val())) {
            EmprestimosAjax.Mensagem("Por favor insira o nome do publicador!");
            return;
        }

        form.submit();
    });

   
    function Sucesso(resposta) {

    }
    function Error(resposta) {

    }
    function Carregando() {
        $("#myModal").modal('show');
    }
    function Concluido() {
        $("#myModal").modal('hide');
        EmprestimosAjax.MapaCadastrado();
    }
</script>
