@model MapaViewModel
<div class="panel panel-primary">
    <div class="panel-body">
        <h4>Mapa @Model.Numero</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Numero)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Numero)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Cor)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Cor)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IdLetra)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Letra.Letra)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IdSaida)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Saida.Local)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IdTerritorio)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Territorio.Nome)
            </dd>

        </dl>


    </div>
    <div class="panel-footer">
        <p>
            @Html.ActionLink("Editar", "Editar", new { id = Model.ID })
        </p>
    </div>
</div>
